#top-bar {
    height: $topbar-height;
    line-height: $topbar-line-height;
    font-size: 13px;
    background: $light-gray;
    border-bottom: $unblue solid 5px;

    li a {
        color: black;

        &:hover {
            text-decoration: none;
        }
    }

    .home-icon {
        margin-top: -6px;
    }
}