#top-bar {
    position: relative;
    height: $topbar-height;
    line-height: $topbar-line-height;
    font-size: 13px;
    background: $light-gray;
    border: none;
    border-bottom: $unblue solid 5px;

    li a {
        color: black;

        &:hover {
            text-decoration: none;
        }
    }
}