$color-primary: #20232a;
$unblue: #009edb;
$light-gray: #f2f2f2;
$dark-gray: #4d4d4d;
$topbar-height: 45px;
$topbar-line-height: ($topbar-height - 1);
$myfont-family-headings: "Roboto Condensed", Roboto, "Segoe UI",
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
